<h2 id="note">Note</h2>
<ol>
<li><p>Only a registered student for the GeeksForGeeks DSA course can read the problem statements of the problems shared here. One can search their <a href="https://practice.geeksforgeeks.org/" target="_blank">practice site</a> for a <i>problem title</i> and find its free version. Most of the problems here have a free version.</p></li>
<li>Problems marked with a prefix ^ are important ones. They have appeared in a screening test of at least one company as per the company tag data on GeeksForGeeks.</li>
</ol>